<% provide :title, "Контакты #{t(:default_title)}" %>
<% provide :description, "Контакты #{t(:default_title)}" %>
<div>
  <h1><%=t :nav_contacts %></h1>
  <p>
    <b><%= t(:default_title) %></b><br/>
    Директор: Майкл Клишевич<br/>
    Тел.: <a href="tel:+79165926645">+7 916 592 6645</a><br/>
    Twitter: <%= link_to '@codingru', 'https://twitter.com/codingru', target: :_blank %><br/>
    VK: <%= link_to 'vk.com/codingru', 'https://vk.com/codingru', target: :_blank %><br/>
    Telegram: <%= link_to '@codingru', 'https://t.me/codingru', target: :_blank %><br/>
    Facebook: <%= link_to 'fb.com/codingru', 'https://www.facebook.com/codingru', target: :_blank %><br/>
    Email:  <%= codingbootcamp_email %><br/>
  </p>
</div>
