<% base_title = "#{t(:default_title)} - онлайн курсы JavaScript, Node.js, React" %>
<% base_description = "У меня есть мечта, чтобы у каждого, вне зависимости от достатка и места жительства была возможность изучить программирование и устроиться на престижную и высокооплачиваемую работу. Поэтому я основал #{t(:default_title)} - онлайн курсы по веб-разработке JavaScript, Node.js, React." %>
<% base_image_url = asset_url('_IMG_6425_rect.jpg') %>
<% provide(:title, base_title) %>
<% provide(:description, base_description) %>
<% provide(:keywords, "курсы, javascript, node.js, react") %>
<% provide(:og_title, base_title) %>
<% provide(:og_description, base_description) %>
<% provide(:og_image, base_image_url) %>
<% provide(:twitter_title, base_title) %>
<% provide(:twitter_description, base_description) %>
<% provide(:twitter_image, base_image_url) %>

<div class="starter-template">
  <div class="d-block">
    <div class="row justify-content-center">
      <div class="col-6 d-md-none">
        <%= image_tag 'logo3a.png', class: "img-fluid logo-home" %>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <%= image_tag 'logo3a.png', class: "img-fluid logo-home" %>
      </div>
    </div>
    <h1 class="display-5"><%= t(:default_title) %></h1>
    <h2 class="display-5">Обучение веб-разработке JavaScript, Node.js, React</h2>
    <p class="lead">Набираем на курсы <span class="badge badge-danger"><%= t(:program_es6) %></span> (Arrow Functions, Promises, Async/Await, Modules и др.) и <span class="badge badge-danger"><%= t(:program_intro_to_web) %></span> (HTML, CSS, JavaScript, Bash, Git). Получи высокооплачиваемую и интересную профессию веб-разработчика за полгода.</p>
    <br/>
    <div class="row justify-content-lg-center">
      <div class="col-lg-6">
        <%= image_tag '_IMG_6425_rect.jpg', class: 'img-fluid' %>
      </div>
    </div>
    <br/>
    <p>Привет, рад видеть тебя на нашем сайте, я Майкл. У меня есть мечта, чтобы у каждого, вне зависимости от достатка и места жительства, была возможность изучить программирование и устроиться на престижную и высокооплачиваемую работу. Поэтому я основал <%= t(:default_title) %> - онлайн-курсы по изучению веб-разработки. Программа курсов составлена с учетом <b>растущего спроса на JavaScript разработчиков в России и в мире</b>. Использованы подходы к обучению и опыт буткэмпов из Бостона США. По окончанию курсов у выпускника будет достаточно знаний для профессиональной деятельности по выбранному направлению.</p>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_es6)%></h2>
    <div class="intro">Курс расчитан на тех, кто уже имел опыт программирования и хочет глубоко изучить современный JavaScript. В рамках курса будет подробно изучен стандарт ECMAScript 6. Курс нацелен на получение практических навыков.</div>
    <div class="row">
      <div class="col-lg-3">
        <b>Начало обучения:</b>
      </div>
      <div class="col-lg-9">
        <span class="badge badge-success course-date">1 мая 2018</span>
      </div>
    </div>
    <%= course_info "Форма обучения", "Видео-уроки, домашние задания, Code Review на GitHub от опытного ментора" %>
    <%= course_info "Учебный план", "4 недели, 8 видео-уроков, домашние задания." %>
    <%= course_info "Цель курса", "Дать практические навыки работы со стандартом ES6+" %>
    <%= course_info "Требования к студенту", "Работа с Ubuntu/Debian, Bash (apt-get, работа с файлами, выдача прав), Git + GitHub (умение делать Pull Request), HTML, CSS (подключение CSS, селекторы, flex), JavaScript (условные операторы, циклы, массивы, объекты, функции, подключение JS, события, изменение элементов и атрибутов страницы), jQuery, Twitter Bootstrap. Умение гуглить и читать stackoverflow на английском :)" %>
    <div class="row">
      <div class="col-lg-3">
        <b>Стоимость обучения:</b>
      </div>
      <div class="col-lg-9">
        <span class="badge badge-success course-date">2 000 руб.</span>
      </div>
    </div>
    <p class="lead">
      <%= link_to 'Смотреть программу', es6_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_intro_to_web)%></h2>
    <div class="intro"> Расчитан на начальный уровень и не требует предварительных знаний программирования. В рамках курса будут изучены базовые инструменты и технологии. Основы верстки (HTML/HTML5, CSS/CSS3, JavaScript), адаптивная верстка. Система контроля версий (Git, GitHub). Командная строка Linux (Bash).</div>
    <div class="row">
      <div class="col-lg-3">
        <b>Начало обучения:</b>
      </div>
      <div class="col-lg-9">
        <span class="badge badge-success course-date">Набор открыт</span>
      </div>
    </div>
    <%= course_info "Форма обучения", "Видео-уроки, персональные консультации и домашние задания" %>
    <%= course_info "Учебный план", "За 8 недель необходимо пройти 14 видео-уроков и выполнить домашние задания. Необходимо планировать где-то 4 часа на каждый урок, это включает в себя просмотр видео-урока, выполнение практического задания и чтение" %>
    <%= course_info "Домашнее задание", "После каждого видео-урока выдается домашнее задание. Домашние задание включает в себя практическое задание и литературу для чтения. Задания обязательны для выполнения и они проверяются наставником. Выполнение домашнего задания является пререквизитом для получения доступа к следующему уроку." %>
    <%= course_info "Цель курса", "Дать представление о том что-такое веб-разработка и дать базовые практические навыки" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, возраст от 16 лет" %>
    <%= course_info "Примечание", "На прохождение курса дается 8 недель, консультации и поддержка оказываются в течение указанного срока" %>
    <div class="row">
      <div class="col-lg-3">
        <b>Стоимость обучения:</b>
      </div>
      <div class="col-lg-9">
        <span class="badge badge-success course-date">12 000 руб.</span>
      </div>
    </div>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_intro_to_web_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="review-block">
    <h3>Отзывы</h3>
    <div class="row">
      <div class="col-lg-4 my-card">
        <div class="card">
          <%= image_tag 'review_students/galina.jpg', class: 'card-img-top', alt: 'Галина (ВШЭ)' %>
          <div class="card-body">
            <h5 class="card-title">Галина, Москва</h5>
            <p><i>Студент ВШЭ</i></p>
            <p class="card-text">Уникальное чувство, каждую неделю думать, что прыгаешь выше своей головы. Пока не наступит новая неделя и все опять повторится сначала. Основы веб-разработки интересовали давно, но на это всегда не хватало времени. Теперь вижу, что занятость - не помеха, если есть четкая система и внимательный ментор.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-card">
        <div class="card">
          <%= image_tag 'review_students/serdar.jpg', class: 'card-img-top', alt: 'Сердар (Альфа-Банк)' %>
          <div class="card-body">
            <h5 class="card-title">Сердар, Барнаул</h5>
            <p><i>Специалист по обучению, Альфа-Банк</i></p>
            <p class="card-text">Здорово, когда ты будучи гуманитарием, начинаешь понимать как все утроено и даже можешь создавать простый проекты сам!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-card">
        <div class="card">
          <%= image_tag 'review_students/anna.jpg', class: 'card-img-top', alt: 'Анна' %>
          <div class="card-body">
            <h5 class="card-title">Анна, Москва</h5>
            <p><i>Менеджер по продажам</i></p>
            <p class="card-text">Очень много информации и внимательное отношение к каждому студенту!  Полученные знания сразу получилось использовать на практике в своём интернет-проекте, я довольна результатом!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_modern_javascript) %></h2>
    <div class="intro"> Для прохождения данного курса нужно знать HTML, CSS, JavaScript, Git, GitHub. В рамках курса будет изучен Node.js, Express, MongoDB - на уровне достаточном чтобы создать свой REST API. Будет изучен синтаксис современного языка JavaScript ES6+. Будет изучен React - на уровне достаточном для создания профессиональных приложений. А также будут изучены сопутствующие инструменты и технологии: сборщик Webpack, библиотека компонентов MaterialUI, React Router, контейнер для состояний Redux, тестирование Jest, JWT authentication, развертывание приложения на сервере (PM2).</div>
    <div class="row">
      <div class="col-lg-3">
        <b>Начало обучения:</b>
      </div>
      <div class="col-lg-9">
        <span class="badge badge-warning course-date">курс в разработке</span>
      </div>
    </div>
    <%= course_info "Продолжительность", "16 недель" %>
    <%= course_info "Форма обучения", "Видео-уроки, онлайн вебинары с использованием Zoom и персональные консультации" %>
    <%= course_info "План обучения", "Необходимо проходить один видео-урок и выполнять домашнее задание каждую неделю. Раз в неделю проводится онлайн-вебинар с разбором текущих вопросов. Необходимо планировать примерно 8 часов в неделю на прохождение курса." %>
    <%= course_info "Домашнее задание", "После каждого видео-урока выдается обязательное домашнее задание - результат выполненного задания Pull Request на GitHub. Задание проверяется наставником. При наличии замечаний, ученик должен их исправить" %>
    <%= course_info "Персональный проект", "В течение курса необходимо будет выбрать и реализовать свой персональный проект - полноценное веб-приложение на React и Node.js с регистрацией и базой данных и разместить проект на хостинге" %>
    <%= course_info "Цель курса", "Дать достаточные знания для профессиональной фронтэнд разработки на React.js и базовые знание по бэкэнду на Node.js" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, знание Bash, Git, HTML, CSS, JavaScript, возраст от 16 лет" %>
    <%= course_info "Примечание", "На прохождение курса дается 16 недель, консультации и поддержка оказываются в течение указанного срока. При успешном окончании выдается сертификат" %>
    <%= course_info "Стоимость обучения", "30 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_modern_javascript_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <div class="center-text">
      <div class="apply-now-button-large">
        <%= apply_now_button 'large' %>
      </div>
    </div>
  </div>
</div>
