<% provide(:title, "#{t(:default_title)} - обучение веб-разработке JavaScript, Node.js, React") %>
<% provide(:description, "Курсы по веб-разработке: JavaScript, Node.js, React, HTML, CSS в #{t(:default_title)}") %>
<% provide(:keywords, "курсы, обучение, javascript, node.js, react, coding, bootcamp, ru, веб-разработка, программирование, буткэмп, html, css #{t(:default_title)}") %>
<div class="starter-template">
  <div class="d-block">
    <div class="row justify-content-center">
      <div class="col-6 d-md-none">
        <%= image_tag 'logo3a.png', class: "img-fluid logo-home" %>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <%= image_tag 'logo3a.png', class: "img-fluid logo-home" %>
      </div>
    </div>
    <h1 class="display-5"><%= t(:default_title) %></h1>
    <h2 class="display-5">Обучение веб-разработке JavaScript, Node.js, React</h2>
    <p class="lead">Набираем на курсы <span class="badge badge-danger"><%= t(:program_intro_to_web) %></span> (HTML, CSS, JavaScript, Bash, Git), <span class="badge badge-danger"><%= t(:program_modern_javascript) %></span> и <span class="badge badge-danger"><%= t(:program_web_developer) %></span>. Получи высокооплачиваимую и интересную профессию веб-разработчика.</p>
    <hr class="my-4">
    <p>Программы курсов составлены с учетом опыта буткэмпов из Бостона США. По окончанию курсов у выпускника будет достаточно знаний для профессиональной деятельности по выбранному направлению</p>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_intro_to_web)%></h2>
    <div class="row justify-content-lg-center">
      <div class="col-lg-6 video">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/FutFllCLNKA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="intro"> Расчитан на начальный уровень и не требует предварительных знаний программирования. В рамках курса будут изучены базовые инструмены и технологии. Основы верстки (HTML/HTML5, CSS/CSS3, JavaScript), адаптивная верстка. Система контроля версий (Git, Github). Командная строка Linux (Bash).</div>
    <div class="row">
      <div class="col-lg-3">
        <b>Начало обучения:</b>
      </div>
      <div class="col-lg-9">
        <span class="badge badge-warning course-date">Обучение идёт</span>, записывайтесь в следующую группу
      </div>
    </div>
    <%= course_info "Форма обучения", "Видео-уроки, онлайн вебинары с использованием Zoom, персональные консультации и домашние задания" %>
    <%= course_info "Учебный план", "За 8 недель необходимо пройти 14 видео-уроков и выполнить домашние задания. Необходимо планировать где-то 4 часа на каждый урок, это включает в себя просмотр видео-урока, выполнение практического задания и чтение" %>
    <%= course_info "Домашнее задание", "После каждого видео-урока выдается домашнее задание. Домашние задание включает в себя практическое задание и литературу для чтения. Задания обязательны для выполнения и они проверяются наставником. Выполнение домашнего задания является пререквизитом для получения доступа к следующему уроку." %>
    <%= course_info "Цель курса", "Дать представление о том что-такое веб-разработка и дать базовые практические навыки" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "На прохождение курса дается 8 недель, консультации и поддержка оказываются в течение указанного срока" %>
    <%= course_info "Стоимость обучения", "12 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_intro_to_web_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_modern_javascript) %></h2>
    <div class="row">
      <div class="col-lg-3">
        <b>Начало обучения:</b>
      </div>
      <div class="col-lg-9">
        <span class="badge badge-warning course-date">Февраль 2018</span>
      </div>
    </div>
    <%= course_info "Продолжительность", "8 недель" %>
    <%= course_info "Форма обучения", "Видео-уроки, онлайн вебинары с использованием Zoom и персональные консультации" %>
    <%= course_info "График обучения", "За неделю необходимо посмотреть два видео-урока и выполнить два задания. Задания будут проверяться наставником. Ученик исправляет замечания" %>
    <%= course_info "Домашнее задание", "После каждого видео-урока выдается обязательное домашнее задание, нужно планировать минимум 8 часов каждую неделю на просмотр видео-уроков и выполнение домашних заданий" %>
    <%= course_info "Цель курса", "Дать достаточные знания для профессиональной работы с использование React.js" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, опыт веб-разработки, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "На прохождение курса дается 8 недель, консультации и поддержка оказываются в течение указанного срока" %>
    <%= course_info "Стоимость обучения", "16 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_modern_javascript_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_web_developer) %></h2>
    <div class="intro">Необходимо знание основ верстки, работа с Bash, Git (либо прохождение курса "Введение в веб-разработку"). В рамках курса будет изучен фреймворк для разработки веб-приложений Ruby on Rails. Подходы к проектированию приложения. Авторизация и аутентификация на сайте. Создание пользовательского контента. Рассылка емайл сообщений с сайта. Паттерн разработки MVC. Базовые знание по работе с базами данных. В результате у учащихся будет достаточно знаний чтобы создавать свои несложные проекты  </div>
    <div class="row">
      <div class="col-lg-3">
        <b>Начало обучения:</b>
      </div>
      <div class="col-lg-9">
        <span class="badge badge-warning course-date">Апрель 2018</span>
      </div>
    </div>
    <%= course_info "Продолжительность", "16 недель" %>
    <%= course_info "Форма обучения", "Видео-уроки, онлайн вебинары с использованием Zoom и персональные консультации" %>
    <%= course_info "График обучения", "За неделю необходимо посмотреть два видео-урока и выполнить два задания. Задания будут проверяться наставником. Ученик исправляет замечания" %>
    <%= course_info "Домашнее задание", "После каждого видео-урока выдается обязательное домашнее задание, нужно планировать минимум 16 часов каждую неделю на просмотр видео-уроков и выполнение домашних заданий" %>
    <%= course_info "Цель курса", "Дать достаточные знания для разработки своих несложных проектов на Ruby on Rails" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, знание HTML, CSS, JavaScript, Git, Bash, компьютер на базе MacOS или Linux, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "На прохождение курса дается 16 недель, консультации и поддержка оказываются в течение указанного срока" %>
    <%= course_info "Стоимость обучения", "32 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_web_developer_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <div class="center-text">
      <div class="apply-now-button-large">
        <%= apply_now_button 'large' %>
      </div>
    </div>
  </div>
</div>
