<% provide(:title, "#{t(:default_title)} - обучение веб-разработке") %>
<% provide(:description, "Обучение веб-разработке за 6 месяцев, Ruby on Rails, Node.js, React в #{t(:default_title)}") %>
<% provide(:keywords, "boston, coding, bootcamp, бостон, программирование, буткэмп, лагерь, веб-разработка, обучение, ruby on rails, react, node.js, #{t(:default_title)}") %>
<div class="starter-template">
  <div class="d-block">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <%= image_tag 'logo3a.png', class: "img-fluid logo-home" %>
      </div>
    </div>
    <h1 class="display-5"><%= t(:default_title) %></h1>
    <h2 class="display-5">Обучение веб-разработке</h2>
    <p class="lead">Набираем на <b>курсы начального уровня</b> <span class="badge badge-danger">Верстка</span> (HTML, CSS, JavaScript), веб-разработка на <span class="badge badge-danger">Ruby on Rails</span> и на <b>курс продвинутого уровня</b> <span class="badge badge-danger">Современный JavaScript</span> (React, Redux, Node.js). Начало курсов <span class="badge badge-warning">Октябрь 2017</span>. Получи высокооплачиваимую и интересную профессию веб-разработчика за <span class="badge badge-success">6 месяцев</span>.</p>
    <hr class="my-4">
    <p>Программы курсов составлены с учетом опыта буткэмпов из Бостона США. По окончанию курса у выпускника будет достаточно знаний для профессиональной деятельности по выбранному направлению</p>
  </div>
  <div class="course-block">
    <h2>Курс Верстка (HTML, CSS, JavaScript) <span class="badge badge-primary">basic</span></h2>
    <%= course_info "Начало обучения", "Октябрь 2017" %>
    <%= course_info "Продолжительность", "12 недель" %>
    <%= course_info "Форма обучения", "Онлайн вебинары с использованием Zoom + физические встречи в Москве 1 раза в месяц" %>
    <%= course_info "График обучения", "2 раза в неделю (вторник и четверг) с 19:00 до 21:00 (МСК)" %>
    <%= course_info "Домашнее задание", "После каждого занятия выдается обязательное домашнее задание, нужно планировать минимум 4 часа каждую неделю на выполнение домашнего задания" %>
    <%= course_info "Цель курса", "Дать достаточные знания для профессиональной работы верстальщиком" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "студенты с плохой успеваемостью могут быть отчислены" %>
    <%= course_info "Стоимость обучения", "18 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_web_developer_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Курс Веб-разработка на Ruby on Rails <span class="badge badge-primary">basic</span></h2>
    <%= course_info "Начало обучения", "Октябрь 2017" %>
    <%= course_info "Продолжительность", "24 недели" %>
    <%= course_info "Форма обучения", "Онлайн вебинары с использованием Zoom + физические встречи в Москве 1 раза в месяц" %>
    <%= course_info "График обучения", "2 раза в неделю (вторник и четверг) с 19:00 до 21:00 (МСК)" %>
    <%= course_info "Домашнее задание", "После каждого занятия выдается обязательное домашнее задание, нужно планировать минимум 4 часа каждую неделю на выполнение домашнего задания" %>
    <%= course_info "Цель курса", "Дать достаточные знания для профессиональной работы на позиции Ruby on Rails разработчик" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, знание HTML, CSS, JavaScript, технический склад ума, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "студенты с плохой успеваемостью могут быть отчислены" %>
    <%= course_info "Стоимость обучения", "36 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_web_developer_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Курс Современный JavaScript (React, Redux, Node.js) <span class="badge badge-primary">advanced</span></h2>
    <%= course_info "Начало обучения", "Октябрь 2017" %>
    <%= course_info "Продолжительность", "18 недель" %>
    <%= course_info "Форма обучения", "Онлайн вебинары с использованием Zoom + физические встречи в Москве 1 раза в месяц" %>
    <%= course_info "График обучения", "2 раза в неделю (вторник и четверг) с 19:00 до 21:00 (МСК)" %>
    <%= course_info "Домашнее задание", "После каждого занятия выдается обязательное домашнее задание, нужно планировать минимум 4 часа каждую неделю на выполнение домашнего задания" %>
    <%= course_info "Цель курса", "Дать достаточные знания для профессиональной работы на позиции Frontend-разработчик" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, опыт веб-разработки, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "студенты с плохой успеваемостью могут быть отчислены" %>
    <%= course_info "Стоимость обучения", "36 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_web_developer_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Зачисление в буткэмп</h2>
    <div class="center-text">
      <div>Напишите мне на email <a href="mailto:info@busation.com?subject=Enrol to Coding Bootcamp">info@busation.com</a></div>
      <div>или в Telegram @klishevich</div>
      <div>или в Twitter <a href="https://twitter.com/busation">@busation</a></div>
      <div><b>на какой курс вы хотите записаться</b></div>
      <div>и мы запланируем интервью</div>
      <div>Майкл Клишевич</div>
    </div>
  </div>
</div>
