<% provide(:title, "#{t(:default_title)} - обучение веб-разработке") %>
<% provide(:description, "Обучение веб-разработке за 6 месяцев, Ruby on Rails, Node.js, React в #{t(:default_title)}") %>
<% provide(:keywords, "boston, coding, bootcamp, бостон, программирование, буткэмп, лагерь, веб-разработка, обучение, ruby on rails, react, node.js, #{t(:default_title)}") %>
<div class="starter-template">
  <div class="d-block">
    <div class="row justify-content-center">
      <div class="col-6 d-md-none">
        <%= image_tag 'logo3a.png', class: "img-fluid logo-home" %>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <%= image_tag 'logo3a.png', class: "img-fluid logo-home" %>
      </div>
    </div>
    <h1 class="display-5"><%= t(:default_title) %></h1>
    <h2 class="display-5">Обучение веб-разработке</h2>
    <p class="lead">Набираем на курсы <span class="badge badge-danger"><%= t(:program_intro_to_web) %></span> (HTML, CSS, JavaScript, bash, git), <span class="badge badge-danger"><%= t(:program_web_developer) %></span> (Ruby on Rails) и на <b>курс продвинутого уровня</b> <span class="badge badge-danger"><%= t(:program_modern_javascript) %></span> (React, Redux). Начало курсов <span class="badge badge-warning">7 ноября 2017</span>. Получи высокооплачиваимую и интересную профессию веб-разработчика.</p>
    <hr class="my-4">
    <p>Программы курсов составлены с учетом опыта буткэмпов из Бостона США. По окончанию курса у выпускника будет достаточно знаний для профессиональной деятельности по выбранному направлению</p>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_intro_to_web)%> <span class="badge badge-primary">basic</span></h2>
    <div class="intro"> Расчитан на начальный уровень и не требует предварительных знаний программирования. В рамках курса будут изучены базовые инструмены и технологии. Основы верстки (HTML/HTML5, CSS/CSS3, JavaScript), адаптивная верстка. Система контроля версий (Git, Github). Командная строка Linux (Bash). </div>
    <%= course_info "Начало обучения", "7 ноября 2017" %>
    <%= course_info "Форма обучения", "Видео-уроки, онлайн вебинары с использованием Zoom, персональные консультации и домашние задания" %>
    <%= course_info "Учебный план", "За 8 недель необходимо пройти 14 видео-уроков и выполнить домашние задания. Необходимо планировать где-то 4 часа на каждый урок, это включает в себя просмотр видео-урока, выполнение практического задания и чтение" %>
    <%= course_info "Домашнее задание", "После каждого видео-урока выдается домашнее задание. Домашние задание включает в себя практическое задание и литературу для чтения. Задания обязательны для выполнения и они проверяются наставником. Выполнение домашнего задания является пререквизитом для получения доступа к следующему уроку." %>
    <%= course_info "Цель курса", "Дать представление о том что-такое веб-разработка и дать базовые практические навыки" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "На прохождение курса дается 8 недель, консультации и поддержка оказываются в течение указанного срока" %>
    <%= course_info "Стоимость обучения", "12 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_intro_to_web_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_web_developer) %> <span class="badge badge-primary">basic</span></h2>
    <div class="intro">Необходимо знание основ верстки, работа с Bash, Git (либо прохождение курса "Введение в веб-разработку"). В рамках курса будет изучен фреймворк для разработки веб-приложений Ruby on Rails. Подходы к проектированию приложения. Авторизация и аутентификация на сайте. Создание пользовательского контента. Рассылка емайл сообщений с сайта. Паттерн разработки MVC. Базовые знание по работе с базами данных. В результате у учащихся будет достаточно знаний чтобы создавать свои несложные проекты  </div>
    <%= course_info "Начало обучения", "Декабрь 2017" %>
    <%= course_info "Продолжительность", "16 недель" %>
    <%= course_info "Форма обучения", "Видео-уроки, онлайн вебинары с использованием Zoom и персональные консультации" %>
    <%= course_info "График обучения", "За неделю необходимо посмотреть два видео-урока и выполнить два задания. Задания будут проверяться наставником. Ученик исправляет замечания" %>
    <%= course_info "Домашнее задание", "После каждого видео-урока выдается обязательное домашнее задание, нужно планировать минимум 16 часов каждую неделю на просмотр видео-уроков и выполнение домашних заданий" %>
    <%= course_info "Цель курса", "Дать достаточные знания для разработки своих несложных проектов на Ruby on Rails" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, знание HTML, CSS, JavaScript, Git, Bash, компьютер на базе MacOS или Linux, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "На прохождение курса дается 16 недель, консультации и поддержка оказываются в течение указанного срока" %>
    <%= course_info "Стоимость обучения", "32 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_web_developer_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Курс <%= t(:program_modern_javascript) %> (React, Redux) <span class="badge badge-primary">advanced</span></h2>
    <%= course_info "Начало обучения", "Январь 2018" %>
    <%= course_info "Продолжительность", "8 недель" %>
    <%= course_info "Форма обучения", "Видео-уроки, онлайн вебинары с использованием Zoom и персональные консультации" %>
    <%= course_info "График обучения", "За неделю необходимо посмотреть два видео-урока и выполнить два задания. Задания будут проверяться наставником. Ученик исправляет замечания" %>
    <%= course_info "Домашнее задание", "После каждого видео-урока выдается обязательное домашнее задание, нужно планировать минимум 8 часов каждую неделю на просмотр видео-уроков и выполнение домашних заданий" %>
    <%= course_info "Цель курса", "Дать достаточные знания для профессиональной работы с использование React.js" %>
    <%= course_info "Требования к студенту", "Способность читать на английском, опыт веб-разработки, возраст от 16 лет" %>
    <%= course_info "Условия зачисления", "Интервью через скайп" %>
    <%= course_info "Примечание", "На прохождение курса дается 8 недель, консультации и поддержка оказываются в течение указанного срока" %>
    <%= course_info "Стоимость обучения", "16 000 руб." %>
    <p class="lead">
      <%= link_to 'Смотреть программу', program_modern_javascript_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
  <div class="course-block">
    <h2>Зачисление</h2>
    <div class="center-text">
      <div>Напишите мне на email <a href="mailto:info@busation.com?subject=Enrol to Coding Bootcamp">info@busation.com</a></div>
      <div>или в Telegram @klishevich</div>
      <div>или в Twitter <a href="https://twitter.com/busation">@busation</a></div>
      <div><b>на какой курс вы хотите записаться</b></div>
      <div>и мы запланируем интервью</div>
      <div>Майкл Клишевич</div>
    </div>
  </div>
</div>
