<div class="offer-page">
  <div class="offer-page__title">ПУБЛИЧНЫЙ ДОГОВОР (ОФЕРТА)</div>
  <div class="offer-page__subtitle">на оказание информационно-консультационных услуг</div>
  <div class="offer-page__version">(версия 1.0 от 11 октября 2017г.)</div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</div>
    <div class="offer-page-block__item">
      <div>1.1. Для целей настоящего Договора, приведенные ниже термины и определения используются в следующем значении:</div>
      <div><b>Оферта</b> - настоящий документ Публичная Оферта на оказание информационно-консультационных услуг в сфере информационных технологий;</div>
      <div><b>Акцепт Оферты</b> - полное и безоговорочное принятие Заказчиком условий настоящей Оферты, методами предусмотренными в п. 2.3, 2.4, данной Оферты;</div>
      <div><b>Договор Оферты</b> - договор между Исполнителем и Заказчиком на предоставление Услуг который заключается посредством Акцепта Оферты;</div>
      <div><b>Посетитель Сайта</b> - пользователи Интернета, перешедшие на сайт <%= codingbootcamp_site %>;</div>
      <div><b>Пользователь</b> – Любое физическое или юридическое лицо, посетившее сайт <%= codingbootcamp_site %>, имеющее намерение приобрести информационно-консультационную услугу, и оплатить получение информационно-консультационной услуги;</div>
      <div><b>Заказчик</b> – Пользователь, оплативший Услуги;</div>
      <div><b>Исполнитель</b> – Общество с ограниченной ответственностью «Бизнес-Оптимизация»;</div>
      <div><b>Услуги</b> – обучающие информационно-консультационные услуги в виде участия в онлайн-курсе на указанную на Сайте тему;</div>
      <div></li><b>Электронный адрес / электронная почта Исполнителя</b> – <%= busation_email %>;</div>
      <div><b>Сайт Исполнителя</b> – Сайт Исполнителя, находящийся по адресу <%= codingbootcamp_site %>.</div>
    </div>
    <div class="offer-page-block__item">1.2. В настоящей Оферте могут быть использованы термины, не определенные в п. 1.1. В этом случае толкование такого термина производится в соответствии с текстом настоящей Оферты. В случае отсутствия однозначного толкования термина в тексте Оферты следует руководствоваться толкованием термина: в первую очередь – на сайте Исполнителя, во вторую очередь – общепринятым значением.</div>
    <div class="offer-page-block__item">1.3. В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ), в случае принятия изложенных ниже условий, лицо, производящее акцепт этой оферты, становится Пользователем (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте).</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">2. ОБЩИЕ ПОЛОЖЕНИЯ</div>
    <div class="offer-page-block__item">2.1. Настоящий документ является официальным предложением (публичной офертой) Общества с ограниченной ответственностью «Бизнес-Оптимизация», именуемого в дальнейшем «Исполнитель», содержит в себе все существенные условия оказания информационно-консультационных услуг в сфере информационных технологий (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).</div>
    <div class="offer-page-block__item">2.2. Любое физическое или юридическое лицо, посетившее сайт <%= codingbootcamp_site %>, имеющее намерение приобрести информационно-консультационную услугу, и оплатить получение информационно-консультационной услуги, cтановится Заказчиком.</div>
    <div class="offer-page-block__item">2.3. Полным и безоговорочным акцептом является подача заявки на приобретение информационно-консультационной услуги и оплата услуги.</div>
    <div class="offer-page-block__item">
      <div>2.4. Заявка на получение информационно-консультационной услуги может быть подана одним из нижеперечисленных способов:
      </div>
      <ul>
        <li>оформление заявки на сайте <%= codingbootcamp_site %>;</li>
        <li>отправление заявки на адрес электронной почты <%= busation_email %>;</li>
        <li>отправление заявки в Telegram @klishevich;</li>
        <li>отправление заявки и в Twitter @busation.</li>
      </ul>
    </div>
    <div class="offer-page-block__item">2.5. Заказчик, осуществляя акцепт настоящего Договора-оферты, в порядке, определенном п. 2.3., 2.4. договора, подтверждает, что ознакомлен, согласен, полностью и безоговорочно принимает все условия договора в том виде, в каком они изложены в тексте Договора-оферты.</div>
    <div class="offer-page-block__item">2.6. Акцептируя настоящий Договор-оферту Заказчик гарантирует, что он имеет законные права вступать в договорные отношения с Исполнителем.</div>
    <div class="offer-page-block__item">2.7. Настоящий договор не требует его подписания Заказчиком и Исполнителем, сохраняя при этом свою юридическую силу.
    </div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">3. ПРЕДМЕТ ДОГОВОРА</div>
    <div class="offer-page-block__item">3.1. В соответствии с условиями настоящего договора Исполнитель обязуется оказать Заказчику информационно-консультационные услуги, предусмотренные программой курса, а Заказчик обязуется оплатить оказанные услуги в соответствии с прайс-листом. В случае если Заказчиком является юридическое лицо, услуги Исполнителем оказываются физическому лицу, указанному Заказчиком в заявке на получение информационно-консультационной услуги</div>
    <div class="offer-page-block__item">3.2. Предусмотренные предметом настоящего договора услуги оказываются Исполнителем
      дистанционно посредством сети Интернет в форме видео-уроков, онлайн вебинаров с использованием Zoom, Skype  и персональных консультаций.</div>
    <div class="offer-page-block__item">3.3. Исполнителем не устанавливаются какие-либо требования к Заказчику. Любой желающий может воспользоваться услугами Исполнителя путем акцептирования настоящего Договора.</div>
    <div class="offer-page-block__item">3.4. Для оказания услуг по настоящему договору Исполнитель вправе привлекать третьих лиц (консультантов) по своему усмотрению.</div>
    <div class="offer-page-block__item">3.5. Оказываемые Исполнителем информационно-консультационные услуги не являются образовательной деятельностью, не подлежат лицензированию, не сопровождаются проведением итоговой аттестации, присвоения какой-либо квалификации и выдачей документа об образовании.</div>
    <div class="offer-page-block__item">3.6. Информацию о темах онлайн-курсов, программах, сроках их проведения и адресе формы регистрации Исполнитель предоставляет Пользователю/Заказчику любым удобным Исполнителю способом (Сайт Исполнителя, электронная рассылка, вебинар и т.п.). Информация также может быть запрошена Пользователем/Заказчиком по электронному адресу Исполнителя.</div>
    <div class="offer-page-block__item">3.7. Информация и иные материалы, в том числе на электронных носителях, аудио и видеозаписи, предоставленные Заказчику Исполнителем в рамках оказания Услуг по настоящему Договору, являются конфиденциальной информацией, предназначенной исключительно для Заказчика. В случае, если Заказчик допустит распространение указанной информации, он несет ответственность перед Исполнителем за причиненные фактом распространения информации убытки в виде штрафа, размер которого указан в пункте 4.1.6.</div>
    <div class="offer-page-block__item">3.8. Исполнитель имеет право изменять библиотеку Онлайн-курсов, стоимость, условия данной Публичной Оферты без предварительного согласования с Заказчиком, обеспечивая при этом публикацию измененных условий на сайте Исполнителя, а также в общедоступном для ознакомления с этими документами месте, не менее чем за 1 (один) день до их ввода в действие.</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">4. ПРАВА И ОБЯЗАННОСТИ СТОРОН</div>
    <div class="offer-page-block__item offer-page-block__item_bold">4.1. Заказчик обязуется:</div>
    <div class="offer-page-block__item">4.1.1. оплачивать услуги Исполнителя в порядке, размере и сроки, предусмотренные Договором-офертой.</div>
    <div class="offer-page-block__item">4.1.2. предоставить свои регистрационные данные, тем самым автоматически подписываясь на рассылку информационного и коммерческого характера. Указать в соответствующей регистрационной форме данные физического лица, которому будут оказаны услуги, если Заказчиком является юридическое лицо.</div>
    <div class="offer-page-block__item">4.1.3. соблюдать дисциплину и общепринятые нормы поведения, в частности, проявлять уважение к консультантам Исполнителя и другими слушателями курса.</div>
    <div class="offer-page-block__item">4.1.4. следовать рекомендациям консультанта.</div>
    <div class="offer-page-block__item">4.1.5. не использовать информацию, полученную от Исполнителя, способами, которые могут привести к нанесению ущерба интересам Исполнителя.</div>
    <div class="offer-page-block__item">4.1.6. не распространять информационные материалы, полученные от Исполнителя и консультантов в ходе оказания услуг по настоящему договору, а также не производить аудио- и/или видеозапись вебинаров, не передавать обучающие материалы третьим лицам. В случае нарушения обязательства, предусмотренного настоящим пунктом, Заказчик обязуется возместить Исполнителю все причиненные убытки, включая недополученную прибыль, а также уплатить Исполнителю штраф в размере 100 % от стоимости услуг, предусмотренных договором.</div>
    <div class="offer-page-block__item offer-page-block__item_bold">4.2. Заказчик вправе:</div>
    <div class="offer-page-block__item">4.2.1. требовать от Исполнителя предоставления информации по вопросам организации и обеспечения надлежащего оказания услуг.</div>
    <div class="offer-page-block__item">4.2.2. требовать надлежащего и своевременного оказания услуг Исполнителем.</div>
    <div class="offer-page-block__item">4.2.3. обращаться к Исполнителю по всем вопросам, связанным с оказанием услуг, а также задавать вопросы, связанные с оказанием услуг.</div>
    <div class="offer-page-block__item">4.2.4. получать достоверную информацию об оценке своих знаний, умений и навыков.</div>
    <div class="offer-page-block__item offer-page-block__item_bold">4.3. Исполнитель обязуется:</div>
    <div class="offer-page-block__item">4.3.1. организовать и обеспечить надлежащее оказание услуг в соответствии с условиями, предусмотренными настоящим договором.</div>
    <div class="offer-page-block__item">4.3.2. обеспечить Заказчика необходимыми дополнительными материалами (методическими пособиями, обучающими видео, презентациями). Распространение указанных в настоящем пункте и предоставленных Исполнителем и консультантами материалов любыми способами (посредством любых источников), их публикация в любых источниках, передача третьим лицам запрещена. В случае нарушения указанного пункта Заказчик несет ответственность, предусмотренную действующим законодательством РФ.</div>
    <div class="offer-page-block__item">4.3.3. использовать все личные данные и иную конфиденциальную информацию о Заказчике только для оказания услуг, не передавая их третьим лицам.</div>
    <div class="offer-page-block__item offer-page-block__item_bold">4.4. Исполнитель вправе:</div>
    <div class="offer-page-block__item">4.4.1. не приступать к исполнению своих обязательств по договору в случае нарушения Заказчиком порядка оплаты услуг Исполнителя, предусмотренного разделом 5 настоящего договора, до момента осуществления оплаты.</div>
    <div class="offer-page-block__item">4.4.2. самостоятельно определять формы и методы оказания услуг, предусмотренных настоящим договором. Не приступать к исполнению своих обязательств по договору в случае нарушения Заказчиком-юридическим лицом условия, предусмотренного п. 4.1.2.</div>
    <div class="offer-page-block__item">4.4.3. самостоятельно определять систему оценок при оказании услуг, формы и порядок оценки.</div>
    <div class="offer-page-block__item">4.4.4. самостоятельно определять состав специалистов (консультантов), оказывающих услуги, и по своему усмотрению распределять между ними работу.</div>
    <div class="offer-page-block__item">4.4.5. предоставить консультантов для оказания услуг в рамках настоящего договора.</div>
    <div class="offer-page-block__item">4.4.6. требовать оплаты своих услуг в соответствии с условиями настоящего договора.</div>
    <div class="offer-page-block__item">4.4.7. получать от Заказчика любую информацию, необходимую для выполнения своих обязательств по договору-оферте. В случае непредставления либо неполного или неверного представления Заказчиком информации, Исполнитель вправе приостановить исполнение своих обязательств по договору-оферте до представления необходимой информации.</div>
    <div class="offer-page-block__item">4.4.8. внести изменения в условия публичной оферты и/или отозвать её в любой момент до её акцепта Заказчиком. В случае внесения Исполнителем изменений в публичную оферту такие изменения вступают в силу с момента размещения изменённого текста публичной оферты, если иной срок вступления изменений в силу не определён дополнительно в тексте договора-оферты.</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">5. СТОИМОСТЬ УСЛУГ И ПОРЯДОК ОПЛАТЫ</div>
    <div class="offer-page-block__item">
      <div>5.1. Стоимость Услуг Исполнитель указывает любым удобным способом (на Сайте Исполнителя, в электронной рассылке, на вебинаре и т.п.).</div>
      <div>Стоимость может быть изменена и зависит от:</div>
      <ul>
        <li>даты регистрации;</li>
        <li>объема приобретаемых услуг;</li>
        <li>индивидуальной скидки Заказчика.</li>
      </ul>
      <div>Стоимость конкретного онлайн-курса также может быть запрошена Пользователем/Заказчиком по электронному адресу Исполнителя.</div>
    </div>
    <div class="offer-page-block__item">5.2. Оплата Услуг производится Заказчиком на основании счетов.</div>
    <div class="offer-page-block__item">
      <div>5.3. Оплата услуг Исполнителя осуществляется одним из следующих способов:</div>
      <ul>
        <li>путем оплаты на расчетный счет Исполнителя;</li>
        <li>наличными денежными средствами.</li>
      </ul>
    </div>
    <div class="offer-page-block__item">5.4. Услуга будет считаться оплаченной с момента поступления денежных средств на расчетный счет Исполнителя.</div>
    <div class="offer-page-block__item">5.5. Оплата Услуг по настоящему Договору осуществляется на основе 100 % предоплаты и в порядке, устанавливаемом настоящим Договором. Оплата может быть осуществлена Заказчиком частями: 50% предоплаты, 50% в середине курса, при условии дополнительного согласования порядка проведения платежей с Исполнителем.</div>
    <div class="offer-page-block__item">5.6. Заказчик самостоятельно отслеживает изменение реквизитов Исполнителя, указанных в настоящей Оферте и несет ответственность за правильность производимых им платежей.</div>
    <div class="offer-page-block__item">5.7. По договоренности сторон может быть установлен иной порядок и срок оплаты Услуг.</div>
    <div class="offer-page-block__item"> 5.8. Все расчеты по Договору производятся в рублях РФ.</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">6. ОТВЕТСТВЕННОСТЬ СТОРОН И РАЗРЕШЕНИЕ СПОРОВ</div>
    <div class="offer-page-block__item">6.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств по настоящему договору в соответствии с действующим законодательством РФ.</div>
    <div class="offer-page-block__item">6.2. Все споры и разногласия, связанные с реализацией положений настоящего Договора, будут решаться Сторонами путем проведения переговоров.</div>
    <div class="offer-page-block__item">6.3. В случае невозможности урегулирования спора во внесудебном порядке, он будет передан на рассмотрение в Арбитражный суд г. Москвы.</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">7. КОНФИДЕНЦИАЛЬНОСТЬ</div>
    <div class="offer-page-block__item">7.1. Факт заключения настоящего Договора не рассматривается Сторонами как конфиденциальная информация.</div>
    <div class="offer-page-block__item">7.2. Все программы и исключительные права на них, а также иные объекты интеллектуальной собственности, которые могли быть созданы в процессе обучения являются коммерческой тайной, принадлежат Исполнителю и не подлежат разглашению Заказчиком без официального разрешения со стороны Исполнителя.</div>
    <div class="offer-page-block__item">7.3. Стороны обязуются не разглашать информацию, полученную в ходе выполнения своих
      обязательств по настоящему Договору, за исключением случаев, когда Сторона обязана предоставить такую информацию в соответствии с действующим законодательством РФ, применимым к договору, или было получено согласие на разглашение такой информации.</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">8. ФОРС-МАЖОР</div>
    <div class="offer-page-block__item">8.1. Стороны освобождаются от ответственности за полное или частичное неисполнение обязательств по настоящему договору в случае, если неисполнение обязательств явилось следствием действий непреодолимой силы, а именно: действия органов государственной власти (в т.ч. принятие правовых актов), пожара, наводнения, землетрясения, отсутствие электроэнергии и/или сбои работы компьютерной сети, забастовки, войны или любых других независящих от сторон обязательств.</div>
    <div class="offer-page-block__item">8.2. Сторона, которая не может выполнить обязательства по настоящему договору, должна
      своевременно, но не позднее 10 (десяти) календарных дней после наступления обстоятельств непреодолимой силы, посредством электронной почты известить другую сторону о наличии таких обстоятельств.</div>
    <div class="offer-page-block__item">8.3. Стороны признают, что неплатежеспособность сторон не является форс-мажорным
      обстоятельством.</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">9. ПЕРСОНАЛЬНЫЕ ДАННЫЕ И ЗАЩИТА ИНФОРМАЦИИ</div>
    <div class="offer-page-block__item">9.1. Персональные данные Пользователя / Заказчика обрабатываются в соответствии с ФЗ «О персональных данных» № 152-ФЗ. Субъект персональных данных принимает решение о предоставлении его персональных данных и дает согласие на их обработку свободно, своей волей и в своем интересе. Согласие на обработку персональных данных может быть дано субъектом персональных данных или его представителем в любой позволяющей подтвердить факт его получения форме, если иное не установлено федеральным законом. </div>
    <div class="offer-page-block__item">9.2. При заполнении заявки на получение информационно-консультационной услуги Пользователь предоставляет следующую информацию: Фамилию, Имя, контактный номер телефона, адрес электронной почты.</div>
    <div class="offer-page-block__item">9.3. Предоставляя свои персональные данные Исполнителю, Посетитель Сайта / Пользователь / Заказчик соглашается на их обработку Исполнителем, в том числе в целях выполнения Исполнителем обязательств перед Посетителем Сайта / Пользователем / Заказчиком в рамках настоящего Договора, продвижения Исполнителем Услуг, проведения электронных и sms опросов и рассылок, контроля результатов маркетинговых акций, клиентской поддержки, проведение розыгрышей призов среди Посетителей Сайта / Пользователей / Заказчиков, контроля удовлетворенности Посетителя Сайта / Пользователя / Заказчика, а также качества Услуг, оказываемых Исполнителем.</div>
    <div class="offer-page-block__item">9.4. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, не исключая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.</div>
    <div class="offer-page-block__item"> 9.4.1. Исполнитель имеет право отправлять информационные, в том числе рекламные сообщения, на электронную почту и мобильный телефон Пользователя / Заказчика с его согласия, выраженного посредством совершения им действий, однозначно идентифицирующих этого абонента и позволяющих достоверно установить его волеизъявление на получение сообщения. Пользователь / Заказчик вправе отказаться от получения рекламной и другой информации без объяснения причин отказа путем информирования Исполнителя о своем отказе посредством направления соответствующего заявления на электронный адрес Исполнителя.</div>
    <div class="offer-page-block__item">9.4.2 Отзыв согласия на обработку персональных данных Посетителем Сайта / Пользователем / Заказчиком осуществляется путем направления соответствующего заявления на электронный адрес Исполнителя.</div>
    <div class="offer-page-block__item">9.5. Исполнитель не несет ответственности за сведения, предоставленные Пользователем / Заказчиком на Сайте в общедоступной форме.</div>
    <div class="offer-page-block__item">9.6. Исполнитель вправе осуществлять записи телефонных разговоров с Пользователем / Заказчиком, видеозапись онлайн вебинаров. При этом Исполнитель обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, видеозаписи онлайн вебинаров и/или передачу ее третьим лицам, не имеющим непосредственного отношения к оказанию Услуг.</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">10. СРОК ДЕЙСТВИЯ, ИЗМЕНЕНИЕ, РАСТОРЖЕНИЕ ДОГОВОРА</div>
    <div class="offer-page-block__item">10.1. Настоящий договор вступает в силу с момента его заключения и действует до исполнения его сторонами своих обязательств друг перед другом.</div>
    <div class="offer-page-block__item">10.2. Датой заключения договора-оферты, равно как и датой акцепта является дата зачисления денежных средств на расчетный счет Исполнителя, в соответствии с п.5.2 настоящего договора.</div>
    <div class="offer-page-block__item">10.3. Настоящая оферта не является безотзывной и может быть отозвана Исполнителем в любой момент до ее акцепта Заказчиком.</div>
    <div class="offer-page-block__item">10.4. Условия договора-оферты могут быть изменены Исполнителем. В случае внесения изменений в публичную оферту такие изменения вступают в силу с момента размещения изменённого текста публичной оферты, если иной срок вступления изменений в силу не определён дополнительно в тексте договора-оферты.</div>
  </div>
  <div class="offer-page-block">
    <div class="offer-page-block__title">11. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</div>
    <div><b>Наименование</b>: ООО "Бизнес-Оптимизация"</div>
    <div><b>Юр. адрес</b>: 109462, г. Москва, ул. Маршала Чуйкова, 11/2-116</div>
    <div><b>Почтовый адрес</b>: 109457, г. Москва, Мещерский переулок, 6/2-108</div>
    <div><b>Телефон</b>: +7 916 592 6645</div>
    <div><b>Email</b>: <%= busation_email %></div>
    <div><b>Сайт</b>: <%= link_to 'www.busation.com', 'http://www.busation.com' %></div>
    <div><b>ИНН/КПП</b>: 5408290560 / 772101001</div>
    <div><b>ОГРН</b>: 1115476126590</div>
    <div><b>Банк</b>: АО "АЛЬФА-БАНК", г. Москва</div>
    <div><b>Расчетный счет</b>: 40702810302880000716</div>
    <div><b>Кор. счет</b>: 30101810200000000593</div>
    <div><b>БИК</b>: 044525593</div>
  </div>
</div>
