<% base_title = "Курс #{t(:program_modern_javascript)} от #{t(:default_title)}" %>
<% base_description = "Курс Современный JavaScript содержит следующие уроки: React, Node.js, Webpack, React Router, Middlewares, Material UI, Redux, Components and Containers, CRUD, Form validation, Testing with Jest, Express Server, MongoDB, JWT authentication, PM2. Друзья записывайтесь на курс!" %>
<% base_image_url = asset_url('_IMG_6425_rect.jpg') %>
<% provide(:title, base_title) %>
<% provide(:description, base_description) %>
<% provide(:og_title, base_title) %>
<% provide(:og_description, base_description) %>
<% provide(:og_image, base_image_url) %>
<% provide(:twitter_title, base_title) %>
<% provide(:twitter_description, base_description) %>
<% provide(:twitter_image, base_image_url) %>

<div class="program-block">
  <h1>Курс <%= t(:program_modern_javascript) %></h1>
  <div class="alert alert-success program-block__goals" role="alert">
    <h4 class="alert-heading">Цели данного курса</h4>
    <ol>
      <li>Дать практические навыки для профессиональной frontend разработки на React, Redux</li>
      <li>Дать навыки достаточные для создание REST API на Node.js, Express, MongoDB</li>
      <li>Узнать современный JavaScript - ECMAScript 6+</li>
    </ol>
    <div><b>Стоимость обучения</b>: 30 000 руб</div>
  </div>
  <div>Учебный курс представляет собой <b>14 видео-уроков</b>. После каждого видео-урока дается <b>практическое задание</b>, которое проверяется наставником и <b>материалы для чтения</b>. Если у наставника есть замечания, то ученик должен их исправить, чтобы получить доступ к следующему уроку. В течение курса необходимо будет выполнить <b>Персональный проект</b>. Ученику дается <b>16 недель для прохождения</b> всего курса. По окончанию этого срока проверка заданий и консультации наставника прекращаются. Необходимо планировать примерно <b>8 часов в неделю</b> для прохождения курса.</div>

  <h5><span class="badge badge-primary">Module 2</span> <%= t(:program_modern_javascript) %> <span class="badge badge-success">16 недель</span></h5>
  <ol>
    <%= program_info_li 'Знакомство с Node.js',
                        'Установка Node.js и NPM, Знакомство с операторами и синтаксисом ES6+ (let, const, import, export, package.json, template literals, map, iterate object, arrow functions, destructuring assignment)',
                        'Создать новый проект и выполнить задание с использованием вышеперечисленных операторов',
                        'Читать про ES6+' %>
    <%= program_info_li 'Webpack',
                        'Установка и настройка Webpack (loaders json, jsx, css, jpg), транспайлер Babel.js и ES5, webpack-dev-server',
                        'Создать проект, настроить Webpack, написать код простой странички на ES6 и чтобы она работала в браузере',
                        'Читать про Webpack' %>
    <%= program_info_li 'Express Server и MongoDB',
                        'Установка и настройка сервера Express. Подключение MongoDB. Реализация обработки GET, POST, PUT, PATCH запросов с сохранение в MongoDB',
                        'Установить и настроить свой Express Server, MongoDB и сделать REST API для одной модели',
                        'Читать про Express' %>
    <%= program_info_li 'React',
                        'Подключение React. JSX. Передача данных через props. Интерактивные компоненты. Инструменты разработчика. Работа со state. Функциональные компоненты. React Lifecycle',
                        'Сделать свой проект на React',
                        'Читать про React' %>
    <%= program_info_li 'React Router',
                        'Подключение React Router. Навигация между страницами. Передача параметра :id',
                        'Сделать несколько страниц: страница список, страница создания элемента, страница просмотра элемента',
                        'Читать про React Router' %>
    <%= program_info_li 'Material UI',
                        'Подключение Material-UI к проекту. Использование библиотеки, обзор компонент',
                        'Сделать свой проект красивым с Material-UI',
                        'Читать про Material UI' %>
    <%= program_info_li 'Redux',
                        'Установка и подключение Redux. Концепция однонаправленного потока данных. Actions, Reducers, Store. Использование с React. Async Actions, Middleware, Usage with React Router',
                        'Сделать CRUD функциональность с React и Redux',
                        'Читать про Redux' %>
    <%= program_info_li 'Components, Containers и структура State',
                        'Понятие умных и глупых компонент. Структура state в Redux. О том когда сохранять в state данные',
                        'Добавить еще одну модель. Разделить компоненты на умные и глупые. Сделать рефакторинг state',
                        'Читать про умные и глупые компоненты' %>
    <%= program_info_li 'Redux Form',
                        'Настройка и работа с Redux Form. Sync and Async validations',
                        'Переписать имеющиеся формы на Redux Form',
                        'Читать Redux Form API' %>
    <%= program_info_li 'Оптимизируем Webpack и сервер',
                        'ESLint, Server Side Rendering, разбиваем на Chunk, Pre commit hooks',
                        'Настраиваем у себя все это хозяйство',
                        'Читать про Webpack' %>
    <%= program_info_li 'Jest тестирование',
                        'Настраиваем Jest, тестируем функции, компоненты, настраиваем хуки на запуск тестов перед коммитом',
                        'Настроить у себя тесты и написать 3 теста',
                        'Читать про Jest' %>
    <%= program_info_li 'JWT Authentication',
                        'Реализовываем на сервере возможность аутентификации с использованием JWT. Дорабатываем клиента, для использования JWT аутентификации.',
                        'Включить аутентификацию у себя в проекте',
                        'Читать про JWT' %>
    <%= program_info_li 'Развертывание на сервере',
                        'Скрипт для автоматического обновления приложения на сервере. Работа с PM2.',
                        'Развернуть свой проект на сервере',
                        'Читать про PM2' %>
    <%= program_info_li 'Глубокий JS',
                        'React и HOC, Promises, Async Await, Decorators',
                        'Сделать задание на использование вышеперечисленного',
                        'Читать по теме' %>
    <li><b>Персональный проект</b>
      <ul>
        <li>Сделать личный проект</li>
      </ul>
    </li>
  </ol>
  <div class="center-text">
    <div class="apply-now-button-large">
      <%= apply_now_button 'large' %>
    </div>
  </div>
</div>
