<% provide :title, "Курс #{t(:program_intro_to_web)} от #{t(:default_title)}" %>
<% provide :description, "Программа курса: Ubuntu, Bash, SublimeText, HTML, CSS, JavaScript, NGINX, хостинг Linode, фреймворк Twitter Bootstrap, библиотека jQuery, система управления баз данных MySQL, CMS Wordpress" %>
<% provide(:keywords, "курс, css, html, javascript") %>

<div class="program-block">
  <h1>Курс <%= t(:program_intro_to_web) %></h1>
  <div class="alert alert-success program-block__goals" role="alert">
    <h4 class="alert-heading">Цели данного курса</h4>
    <ol>
      <li>Дать представление о том что такое веб-разработка</li>
      <li>Дать базовые практические навыки HTML/CSS/JavaScript</li>
      <li>Подготовить к продвинутым курсам по веб-разработке</li>
    </ol>
    <div><b>Стоимость обучения</b>: 12 000 руб</div>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-lg-6 video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FutFllCLNKA" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div>Учебный курс представляет собой <b>14 видео-уроков</b>. После каждого видео-урока дается <b>практическое задание</b>, которое проверяется наставником и <b>материалы для чтения</b>. Если у наставника есть замечания, то ученик должен их исправить, чтобы получить доступ к следующему уроку. Ученику дается <b>8 недель для прохождения</b> всего курса. По окончанию этого срока проверка заданий и консультации наставника прекращаются. Необходимо планировать примерно <b>4 часа на прохождение одного урока</b>, это включает время на просмотр видео, на выполнение домашнего задание и на чтение.</div>

  <h5><span class="badge badge-primary">Module 1</span> <%= t(:program_intro_to_web) %> <span class="badge badge-success">8 недель</span></h5>
  <ol>
    <li><b>Ставим Ubuntu</b>
      <ul>
        <li><%= image_tag 'icons8-YouTube-64.png', height: '30px' %> Видео. Установка Ubuntu 16.04</li>
        <li><%= image_tag 'icons8-Home-64.png', height: '30px' %> Домашнее задание. Установить Ubuntu 16.04</li>
        <li><%= image_tag 'icons8-OpenBook-64.png', height: '30px' %> Читать. Информацию о Linux</li>
      </ul>
    </li>
    <%= program_info_li 'Bash - Ubuntu terminal',
                        'Базовые bash команды, установка пакетов, движение между папками',
                        'Установить VIM, выполнить задание на использование пройденных команд',
                        'Читать про Linux Terminal' %>
    <%= program_info_li 'Текстовый редактор SublimeText и учимся гуглить',
                        'Об установке SublimeText и советы по гуглению',
                        'Установка SublimeText, подключение полезных модулей. Практическое задание по форматированию текста и поиску информации.',
                        'Читаем про текстовые редакторы и IDE. Что это и чем они отличаются' %>
    <%= program_info_li 'Git и GitHub',
                        'Установка Git, создание аккаунта на GitHub, генерация ключей ssh, базовые команды Git',
                        'Установить Git, настроить свой аккаунт на GitHub. Создать репозиторий с одной веткой, создать репозиторий с несколькими бранчами, клонирование и Pull Request',
                        'Читать про Git и GitHub' %>
    <%= program_info_li 'HTML',
                        'Базовый HTML, различия между HTML и HTML5, обзор проблем совместимости между различными браузерами (high level), элементы HTML документа, синтаксис (элементы, атрибуты и пр.)',
                        'Создать свой проект на HTML5. Проект выложить на GitHub и сделать Pull Request (PR)',
                        'Читать про основные HTML тэги' %>
    <%= program_info_li 'CSS',
                        'Базовый CSS и подключение стилей, различия между css/css3, синтаксис и inheritance, селекторы, playground codepen.io',
                        'Добавляем в проект из прошлого урока CSS стили. Делаем Ёлку на HTML и CSS. Делаем PR',
                        'Читаем про возможности CSS, какие прикольные штуки можно с помощью него делать' %>
    <%= program_info_li 'Web-сервер NGINX',
                        'Установка и базовая настройка сервера nginx',
                        'Запустить два сайта на локальном сервере NGINX на портах 8080, 8081',
                        'Что такое веб-сервера и что такое NGINX' %>
    <%= program_info_li 'Размещение сайта на сервер Linode',
                        'Покупка домена и настройка DNS. Установка дистрибутива Ubuntu, настройка NGINX, размещение сайта на хостинге',
                        'Настройка своего Linode и размещение туда своего сайта',
                        'Читать про хостинг и Linode' %>
    <%= program_info_li 'Twitter Bootstrap',
                        'Об адаптивной, mobile-first библиотеке Twitter Bootstrap',
                        'Создать свой сайт на Bootstrap, сделать PR, разместить на хостинге',
                        'Читать документацию Twitter Bootstrap' %>
    <%= program_info_li 'JavaScript (типы данных, if/else, функции)',
                        'Установка npm и node. Типы данных, переменные, константы, массивы, объекты, функции, console.log',
                        'Решить квадратное уравнение. Сделать расчет високосного года. Написать Оракула, который будет давать случайные ответы на вопросы.',
                        'Что такое Node.js и JavaScript' %>
    <%= program_info_li 'JavaScript в браузере',
                        'Подключение JavaScript, манипуляция с элементами HTML страницы (DOM), события (onchange, onclick), Chrome DevTools',
                        'Сделать Оракула в брузере. Сделать пианино',
                        'Читаем про основы JavaScript' %>
    <%= program_info_li 'Библиотека jQuery',
                        'Подключение jQuery, селекторы (по ID, по классу), события (click, focus, scroll), эффекты (fade, animate), цепочки событий, манипуляции с HTML (получить, изменить значение, изменить класс)',
                        'Задание волшебный квадрат. Задание волейбол',
                        'Про то как работает jQuery' %>
    <%= program_info_li 'Реляционная база данных MySQL',
                        'Установка и настройка MySQL, настройка кириллицы, создание баз данных, таблиц и вставка данных. Выборки данных по критериям, группировка данных, JOIN',
                        'Установить MySQL, создать таблицы movies (фильмы) и genre (жанры) и заполнить их данными. Сделать различного рода выборки и JOIN',
                        'Читать про типы данных в MySQL и про LEFT JOIN, INNER JOIN, OUTER JOIN' %>
    <%= program_info_li 'CMS Wordpress',
                        'Установка и настройка MySQL, PHP, NGINX, скачивание дистрибутива Wordpress и установка, выбор и кастомизация темы',
                        'Настроить сайт Wordpress на хостинге, добавить и внести изменения в тему на GitHub и хостинг. Сделать PR. Сайт должен быть доступен по субдомену bootstrap.yourdomain.ru',
                        'Читать о том что можно делать с Wordpress' %>
  </ol>
  <div class="center-text">
    <div class="apply-now-button-large">
      <%= apply_now_button 'large' %>
    </div>
  </div>
  <a href="https://icons8.com/icon/41150/Open-Book">Open book icon credits</a>
</div>
