<% provide :title, 'Программа курса Введение в веб-разработку' %>
<% provide :description, "#{t(:default_title)} представляет программу курса Введение в веб-разработку, опыт программирования не требуется" %>
<% provide(:keywords, "программирование, введение, веб-разработка, для начинающих, html, css, javascript, #{t(:default_title)}") %>

<div class="program-block">
  <h1>Программа курса <%= t(:program_intro_to_web) %></h1>
  <div class="alert alert-success program-block__goals" role="alert">
    <h4 class="alert-heading">Цели данного курса</h4>
    <ol>
      <li>Дать представление о том что такое веб-разработка</li>
      <li>Дать базовые практические навыки HTML/CSS/JavaScript</li>
      <li>Подготовить к курсу по веб-разработке</li>
    </ol>
    <div><b>Стоимость обучения</b>: 12 000 руб</div>
  </div>
  <div class="row justify-content-lg-center">
    <div class="col-lg-6 video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FutFllCLNKA" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div>Учебный курс представляет собой <b>14 видео-уроков</b>. После каждого видео-урока дается <b>практическое задание</b>, которое проверяется наставником и <b>материалы для чтения</b>. Если у наставника есть замечания, то ученик должен их исправить, чтобы получить доступ к следующему уроку. Ученику дается <b>8 недель для прохождения</b> всего курса. По окончанию этого срока доступ к материалам и проверка заданий наставником прекращаются. Необхоимо планировать примерно <b>4 часа на прохождение одного урока</b>, это включает время на просмотр видео, на выполнение домашнего задание и на чтение.</div>
  <h5>Введение в веб-разработку <span class="badge badge-primary">8 недель</span> <span class="badge badge-success">14 уроков</span></h5>
  <ol>
    <li><b>Ставим Ubuntu</b>
      <ul>
        <li><%= image_tag 'icons8-YouTube-64.png', height: '30px' %> Видео. Установка Ubuntu 16.04</li>
        <li><%= image_tag 'icons8-Home-64.png', height: '30px' %> Домашнее задание. Установить Ubuntu 16.04</li>
        <li><%= image_tag 'icons8-OpenBook-64.png', height: '30px' %> Читать. Информацию о Linux</li>
      </ul>
    </li>
    <%= program_info_li 'Bash - Ubuntu terminal',
                        'Базовые bash команды, установка пакетов, движение между папками',
                        'Установить VIM, выполнить задание на использование пройденных команд',
                        'Читать про Linux Terminal' %>
    <%= program_info_li 'Текстовый редактор SublimeText и учимся гуглить',
                        'Об установке SublimeText и советы по гуглению',
                        'Установка SublimeText, подключение полезных модулей. Задание по поиску информации',
                        'Читаем про текстовые редакторы и IDE. Что это и чем они отличаются' %>
    <%= program_info_li 'Git и GitHub',
                        'Установка Git, создание аккаунта на GitHub, генерация ключей ssh, базовые команды Git',
                        'Установить Git, настроить свой аккаунт на GitHub. Создать репозиторий, в который разместить один текстовый файл с информацией о себе (ФИО, место работы, должность, контактные данные). Добавить меня в колобораторы. Примечание: так как бесплатный аккаунт на гитхабе открытый, то просьба не размещать секретную информацию',
                        'Читать про Git и GitHub' %>
    <%= program_info_li 'HTML',
                        'Базовый HTML, различия между HTML и HTML5, обзор проблем совместимости между различными браузерами (high level), элементы HTML документа, синтаксис (элементы, атрибуты и пр.)',
                        'Сверстать визитную карточку (использовать тэги b, i, br, div, img, href). Создать новый репозиторий (my_card) в который разместить проект',
                        'Читать про основные HTML тэги' %>
    <%= program_info_li 'CSS',
                        'Базовый CSS и подключение стилей, различия между css/css3, синтаксис и inheritance, селекторы, playground codepen.io',
                        'Добавляем в проект my_card немного красоты: color, align, background, margin, padding, fonts',
                        'Читаем про возможности CSS, какие прикольные штуки можно с помощью него делать.' %>
    <%= program_info_li 'Twitter Bootstrap',
                        'Об адаптивной, mobile-first библиотеке Twitter Bootstrap',
                        'Создать новый репозиторий my_pretty_card. Сверстать одностраничный сайт резюме на bootstrap',
                        'Читать документацию Twitter Bootstrap' %>
    <%= program_info_li 'JavaScript простейшая программа',
                        'Установка npm и node. Базовые команды. Понятие переменных, констант, ввод-вывод данных, console.log',
                        'Написать программу, которая будет спрашивать имя и возраст и выводить строку “Здравствуйте, Иван, вам 20 лет”. Сделать новый репозиторий my_first_js, меня добавить в коллобораторы.',
                        'Читаем для чего используется JavaScript, что такое EcmaScript, какие различные версии бывают и что работает в браузере и что работает на сервере.' %>
    <%= program_info_li 'JavaScript в браузере',
                        'О том как подключать JavaScript на html-страницы, манипуляция с DOM, события, логирования в браузере, Chrome DevTools',
                        'Добавить в проект my_card js-файл, в котором будут скрипы (выводить alert при нажатии на кнопку “Сообщение” на визитной карточке, удалять элемент при нажатии на кнопку “Удалить” и добавлять элемент при нажатии на кнопку “Добавить”)',
                        'Читаем про то какие прикольные штуки может делать js в браузере' %>
    <%= program_info_li 'JavaScript Циклы, условные операторы и использование библиотек',
                        'Базовые элементы программы на JavaScript. Использование jQuery',
                        'Добавить в проект my_card еще один js-файл. Пользователь вводит число от 1 до 10 на форму и пользователь вводит слово. И указанное слово, указанное количество раз печатается в alert. Если пользователь вводит число больше 10, то печатается сообщение об ошибке. Сделать, чтобы вместо alert, добавлялись элементы на форму и использованием jQuery',
                        'Про другие базовые операторы в JS и про возможности jQuery' %>
    <%= program_info_li 'Web-сервер NGINX',
                        'Установка и базовая настройка сервера nginx',
                        'Запустить свой проект my_card на локальном сервере на порту 88',
                        'Что такое веб-сервера и что такое NGINX' %>
    <%= program_info_li 'Реляционная база данных Postgresql',
                        'Установка и настройка Postgresql. Базовые команды. PgAdmin',
                        'Установить Postgresql и PgAdmin. Создать таблицу с колонками (name (string), sex(boolean), age(number)) вставить в неё несколько записей и сделать пару селектов',
                        'Читать про реляционные базы данных и что такое Postgres' %>
    <%= program_info_li 'Связка с базой данных',
                        'Настройка простейшей связки с базой данных. Рассказать про очистку данных и SQL-injection',
                        'Создать новый проект my_db_project. Создать страницу на которой будут возвращаться все записи из БД',
                        'О взаимодействии с базами данных (ORM)' %>
    <%= program_info_li 'Размещение сайта на серевер Linode',
                        'Покупка домена. Добавление dns-записей. Настойка Linode.
 Установка nginx. Закачка сайта.',
                        'Купить Linode account. И закачать туда свой проект my_pretty_card',
                        'Читать по HTTP и DNS' %>
  </ol>
  <a href="https://icons8.com/icon/41150/Open-Book">Open book icon credits</a>
</div>
