<% base_title = "#{t(:program_jscamp)}" %>
<% base_description = "#{t(:program_jscamp)} содержит темы: HTML, CSS, Git, GitHub, jQuery, Bootstrap, npm, NGINX, Linode, хостинг, Wordpress"%>
<% base_image_url = asset_url('_IMG_6425_square.jpg') %>
<% provide(:title, base_title) %>
<% provide(:description, base_description) %>
<% provide(:og_title, t(:program_jscamp)) %>
<% provide(:og_description, base_description) %>
<% provide(:og_image, base_image_url) %>
<% provide(:twitter_title, t(:program_jscamp)) %>
<% provide(:twitter_description, base_description) %>
<% provide(:twitter_image, base_image_url) %>
<% course_code = 'camp' %>
<% provide(:course_code, course_code) %>

<div class="program-block">
  <h1><%= t(:program_jscamp) %></h1>
  <br/>
  <h2>Организаторы</h2>
  <div class="program-block__img">
    <div class="row">
      <div class="col-lg-3 my-card">
        <div class="card">
          <%= image_tag 'jscamp/codingbootcamp_a.jpg', alt: 'Coding Bootcamp Ru', class: 'card-img-top' %>
          <div class="card-body">
            <div class="card-text">
              <div class="my-card-organizers">
                <div class="title">Coding Bootcamp Ru</div>
                <div class="subtitile">Курсы по JavaScript для профессионалов</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-card">
        <div class="card">
          <%= image_tag 'jscamp/alfa_learn_a.jpg', alt: 'Альфа-Опыт', class: 'card-img-top' %>
          <div class="card-body">
            <div class="card-text">
              <div class="my-card-organizers">
                <div class="title">Альфа-Опыт</div>
                <div class="subtitile">Банк знаний и опыта. Без купюр</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-card">
        <div class="card">
          <%= image_tag 'jscamp/elbrus_a.jpg', alt: 'Elbrus', class: 'card-img-top' %>
          <div class="card-body">
            <div class="card-text">
              <div class="my-card-organizers">
                <div class="title">Elbrus</div>
                <div class="subtitile">Coding School - FullStack Bootcamp</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-card">
        <div class="card">
          <%= image_tag 'jscamp/alfabank.png', alt: 'Альфа-Банк', class: 'card-img-top' %>
          <div class="card-body">
            <div class="card-text">
              <div class="my-card-organizers">
                <div class="subtitile">При организационной поддержке</div>
                <div class="title">АО "Альфа-Банк"</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <h2>Инструкторы и Спикеры</h2>
  <div class="program-block__img">
    <div class="row">
      <div class="col-lg-4 my-card">
        <div class="card">
          <%= image_tag '_IMG_6425_square.jpg', alt: 'Майкл Клишевич', class: 'card-img-top' %>
          <div class="card-body">
            <div class="card-text">
              <div class="my-card-organizers">
                <div class="title">Майкл Клишевич</div>
                <div class="subtitile">Ведущий JavaScript разработчик, Альфа-Банк. Более 7 лет промышленной web-разработки</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-card">
        <div class="card">
          <%= image_tag 'george.jpg', alt: 'Георгий Бабаян', class: 'card-img-top' %>
          <div class="card-body">
            <div class="card-text">
              <div class="my-card-organizers">
                <div class="title">Георгий Бабаян</div>
                <div class="subtitile">Выпускник DevBootcamp лагерь по программированию в Сан-Франциско</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-success program-block__goals" role="alert">
    <br/>
    <h4 class="alert-heading">JavaScriptBoost - Летняя школа для начинающих программистов</h4>
    <br/>
    <div><b>Для чего?</b> Полное погружение в язык JavaScript и смежные области, чтобы начать карьеру в программировании</div>
    <div><b>Результат на выходе</b>:</div>
    <div>- Получишь целостное представление о веб-разработке.</div>
    <div>- Сможешь создавать сайты на Wordpress и делать базовые заказы на фрилансе.</div>
    <div>- Будешь общаться с программистами на одном языке (что они, кстати, очень ценят).</div>
    <div>- Поймешь четко, как и что изучать дальше, чтобы стать профессионалом.</div>
    <div><b>Для кого?</b> От 18 лет до 99 лет. Курс не требует предварительных знаний, но базовое понимание алгоритмов, циклов, функций и знание английского предпочтительно</div>
    <div><b>Форма обучения</b>: Онлайн-Прекурс (25 июня - 8 июля). Лагерь дневного пребывания с 9:00 до 18:00 (9 - 13 июля)</div>
    <div><b>Когда?</b></div>
    <div>- Онлайн-Прекурс (удаленно) <b>25 июня - 8 июля</b></div>
    <div>- Очные интенсивы (в учебном центре в Москве) <b>9 - 13 июля</b></div>
    <div><b>Стоимость обучения</b>: 19 900 руб. и 24 900 (юрлица). Студентам - скидка 50% (нужно прислать студенческий и сообщить телефон деканата.</div>
    <div>Оплату необходимо перечислить по реквизитам, указанным в п. 11 на странице <%= link_to 'Оферта', offer_path + '#rekv' %>. Копию платежного поручения отправьте на емайл <%= codingbootcamp_email %></div>
    <br/>
  </div>
  <br/>
  <h4>Чем крута школа?</h4>
  <br/>
  <ol>
    <li>Учит ведущий JavaScript разработчик Альфа-Банка с 7-летним опытом промышленной веб-разработки.</li>
    <li>Широкий спектр тематик, не только HTML, CSS, JavaScript, но ещё и Ubuntu, Git, GitHub, веб-сервер NGINX, хостинг, Twitter Bootstrap, jQuery, MySQL, CMS Wordpress.</li>
    <li>Лучшие образовательные практики в миксе (blended learning): видеоуроки, домашки, парное программирование, работа в команде, максимальный уровень открытости и взаимодействия.</li>
  </ol>
  <div class="row">
    <div class="col-lg-6">
      <div class="embed-responsive embed-responsive-16by9 gallery-item__video"><iframe width="560" height="315" src="https://www.youtube.com/embed/4eI-Bk0HqTY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
    </div>
  </div>
  <br/>
  <h4>График обучения</h4>
  <h5>Часть 1. Онлайн-Прекурс, 25 июня - 8 июля. <span class="badge badge-success">2 недели</span></h5>
  <ol>
    <li>Ubuntu, Bash</li>
    <li>SublimeText</li>
    <li>Git и Github (create pull-request)</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Основы JavaScript</li>
    <li>Парное программирование</li>
  </ol>
  <div>Студенты, не прошедшие прекурс, на очную часть не допускаются.</div>
  <h5>Часть 2. Очные интенсивы, 9 - 13 июля <span class="badge badge-success">5 дней</span></h5>
  <div>Для обучения тебе потребуется лишь свой ноутбук.</div>
  <br/>
  <div><b>пн:</b></div> 
  <div>- HTML / CSS</div>
  <div>- Web-сервер NGINX</div>
  <div>- Хостинг Linode</div>
  <div><b>вт:</b></div>
  <div>- Фреймворк Twitter Bootstrap</div>
  <div>- Основы JavaScript</div>
  <div><b>ср:</b></div>
  <div>- JavaScript в браузере</div>
  <div>- библиотека JQuery</div>
  <div><b>чт:</b></div>
  <div>- реляционная база данных MySQL</div>
  <div>- CMS Wordpress</div>
  <div><b>пт:</b></div>
  <div>- Командный проект</div>
  <div>- Презентация</div>
  <br/>
  <div>Занятия проходят с 10-00 до 18-00 с обедами и кофе-брейками. Локация - учебный Центр Альфа-Банка: Москва, ул. Фридриха Энгельса, 75/11.</div>
  <br/>
  <div>
    <h3>Отзывы</h3>
    <div class="row">
      <div class="col-lg-3 my-card">
        <div class="card">
          <%= image_tag 'review_students/galina.jpg', class: 'card-img-top', alt: 'Галина (ВШЭ)' %>
          <div class="card-body">
            <h5 class="card-title">Галина, Москва</h5>
            <p><i>Студент ВШЭ</i></p>
            <p class="card-text">Уникальное чувство, каждую неделю думать, что прыгаешь выше своей головы. Пока не наступит новая неделя и все опять повторится сначала. Основы веб-разработки интересовали давно, но на это всегда не хватало времени. Теперь вижу, что занятость - не помеха, если есть четкая система и внимательный ментор.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-card">
        <div class="card">
          <%= image_tag 'review_students/serdar.jpg', class: 'card-img-top', alt: 'Сердар (Альфа-Банк)' %>
          <div class="card-body">
            <h5 class="card-title">Сердар, Барнаул</h5>
            <p><i>Специалист по обучению, Альфа-Банк</i></p>
            <p class="card-text">Здорово, когда ты будучи гуманитарием, начинаешь понимать как все утроено и даже можешь создавать простый проекты сам!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 my-card">
        <div class="card">
          <%= image_tag 'review_students/anna.jpg', class: 'card-img-top', alt: 'Анна' %>
          <div class="card-body">
            <h5 class="card-title">Анна, Москва</h5>
            <p><i>Менеджер по продажам</i></p>
            <p class="card-text">Очень много информации и внимательное отношение к каждому студенту!  Полученные знания сразу получилось использовать на практике в своём интернет-проекте, я довольна результатом!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <h3>Стоимость</h3>
  <br/>
  <div>Стоимость обучения 19 900 руб. и 24 900 (юрлица).</div>
  <div>Студентам - скидка 50% (нужно прислать студенческий и сообщить телефон деканата.</div>
  <div>Оплату необходимо перечислить по реквизитам, указанным в п. 11 на странице <%= link_to 'Оферта', offer_path + '#rekv' %>. Копию платежного поручения отправьте на емайл <%= codingbootcamp_email %></div>
  <br/>
</div>
