<% base_subtitle = "JavaScript курс от Coding Bootcamp Ru" %>
<% base_title = "#{t(:program_es6)} - #{base_subtitle}" %>
<% base_description = "#{t(:program_es6)} - #{base_subtitle} содержит следующие уроки: arrow функции, классы, promises, async/await, generators, модули CommonJS и ES6, babel" %>
<% base_image_url = asset_url('es6_program_page_photo_square.jpg') %>
<% provide(:title, base_title) %>
<% provide(:description, base_description) %>
<% provide(:og_title, t(:program_es6)) %>
<% provide(:og_description, base_description) %>
<% provide(:og_image, base_image_url) %>
<% provide(:twitter_title, t(:program_es6)) %>
<% provide(:twitter_description, base_description) %>
<% provide(:twitter_image, base_image_url) %>
<% course_code = 'es6' %>
<% provide(:course_code, course_code) %>

<div class="program-block">
  <h1>Курс <%= t(:program_es6) %></h1>
  <div class="program-block__img">
    <div class="row">
      <div class="col-lg-6">
        <%= image_tag 'es6_program_page_photo_square.jpg', class: "img-fluid", alt: 'Курс JavaScript на кухне у Майкла (ES6)' %>
      </div>
    </div>
  </div>
  <div class="alert alert-success program-block__goals" role="alert">
    <h4 class="alert-heading">О курсе</h4>
    <div><b>Цель</b>: Дать практические навыки работы с ECMAScript 6</div>
    <div><b>Курс расчитан</b> на разработчиков, которые хотят глубоко изучить современный JavaScript</div>
    <div><b>Требования к студенту</b>: Работа с Ubuntu/Debian, Bash (apt-get, работа с файлами, выдача прав), Git + GitHub (умение делать Pull Request), HTML, CSS (подключение CSS, селекторы, flex), JavaScript (условные операторы, циклы, массивы, объекты, функции, подключение JS, события, изменение элементов и атрибутов страницы), jQuery, Twitter Bootstrap. Умение гуглить и читать stackoverflow на английском :)</div>
    <div><b>Стоимость обучения</b>: 5 000 руб.</div>
    <div>Оплату необходимо перечислить по реквизитам, указанным в п. 11 на странице <%= link_to 'Оферта', offer_path + '#rekv' %>. Копию платежного поручения отправьте на емайл <%= codingbootcamp_email %></div>
  </div>
  <div>Учебный курс представляет собой <b>8 видео-уроков</b>. После видео-урока дается <b>домашнее задание</b>. Необходимо планировать примерно <b>4 часа</b> для прохождения каждого урока. Домашние задания обязательны для выполнения и проверяются ментором. На прохождение курса дается <b>1 месяц</b>.</div>

  <h5><span class="badge badge-primary">Module 2</span> Список уроков <span class="badge badge-success">4 часа видео + ДЗ</span></h5>
  <ol>
    <li>Что такое ECMAScript - 10 мин видео + домашнее задание</li>
    <li>ES5 - ES6 полезные фичи (setTimeout, forEach, map, let, const, use strict, rest parameters, spread, destructuring, template literals, iterate objects/arrays) - 50 мин видео + ДЗ</li>
    <li>Arrow Functions - 15 мин + ДЗ</li>
    <li>Classes (prototypical inheritance, ES6 classes, usage) - 40 мин видео + ДЗ</li>
    <li>Promises (Promisifying, create promise, chaining promises, promise implementation) - 40 мин видео + ДЗ</li>
    <li>ES7, ES8, Async/Await, Generators - 50 мин + ДЗ</li>
    <li>Modules (CommonJS, AMD, ES6, in browser, in Node.js, with Webpack) - 60 мин + ДЗ</li>
    <li>Babel (понижение версии ECMAScript, полифилы, поддержка в браузерах) - 40 мин + ДЗ</li>
  </ol>
  <%= render 'apply_to_course', course_code: course_code || '' %>
</div>
