<% page_title = 'Админка ментора / Список курсов студентов' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title %>
<h2>Список курсов студентов</h2>
<% if current_user&.is_mentor? %>
<div class="form-group">
  <%= link_to "Открыть курс студенту", new_my_course_path, class: "btn btn-primary" %>
</div>
<% end %>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= MyCourse.human_attribute_name(:user_id) %></th>
      <th><%= MyCourse.human_attribute_name(:course_id) %></th>
      <th><%= MyCourse.human_attribute_name(:status) %></th>
      <th>Текущий урок</th>
      <th><%= MyCourse.human_attribute_name(:ref) %></th>
    </tr>
    </thead>
    <tbody>
    <% @courses.each do |u| %>
        <tr>
          <td><%= pref_and_full_name_link(u.user, my_course_path(u)) %></td>
          <td><%= u.course.name %></td>
          <td><%= u.status %></td>
          <td><%= link_to_last_my_lesson(u) %></td>
          <td><%= u.ref %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
