<% page_title = 'Админка ментора / Просмотр курса студента' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title  %>
<h2>Просмотр курса студента</h2>
<div class="form-group">
  <%= link_to "Список курсов", my_courses_path, class: "btn btn-secondary" %>
  <%= link_to "Редактировать курс", edit_my_course_path(@course), class: "btn btn-primary" %>
</div>
<div><b><%= MyCourse.human_attribute_name(:user_id) %></b></div>
<div><%= @course.user.full_name %></div>
<div><b><%= MyCourse.human_attribute_name(:course_id) %></b></div>
<div><%= @course.course.name %></div>
<div><b><%= MyCourse.human_attribute_name(:status) %></b></div>
<div><%= @course.status %></div>
<div><b><%= MyCourse.human_attribute_name(:ref) %></b></div>
<div><%= @course.ref %></div>
<div><b><%= MyCourse.human_attribute_name(:date_start) %></b></div>
<div><%= @course.date_start.strftime('%d.%m.%Y') %></div>
<div><b><%= MyCourse.human_attribute_name(:date_end) %></b></div>
<div><%= @course.date_end.strftime('%d.%m.%Y') %></div>
<div><b><%= MyCourse.human_attribute_name(:grade) %></b></div>
<div><%= @course.grade %></div>
<div><b><%= MyCourse.human_attribute_name(:comment_for_student) %></b></div>
<div><%= raw(@course.comment_for_student) %></div>
<div><b><%= MyCourse.human_attribute_name(:comment) %></b></div>
<div><%= @course.comment %></div>
<br/>
<h3>Список уроков</h3>
<div>TODO</div>
