<div class="info-block3 my-lesson-mt-show">
  <h3>Информация для ментора</h3>
  <div><b><%= MyCourse.human_attribute_name(:user_id) %></b></div>
  <div><%= pref_and_full_name @my_lesson.my_course.user %></div>
  <div><b><%= MyCourse.human_attribute_name(:course_id) %></b></div>
  <div><%= @my_lesson.my_course.course.name %></div>
  <div><b><%= MyLesson.human_attribute_name(:status) %></b></div>
  <div><%= @my_lesson.status %></div>
  <div><b><%= MyLesson.human_attribute_name(:date_start) %></b></div>
  <div><%= @my_lesson.date_start.strftime('%d.%m.%Y') %></div>
  <div><b><%= MyLesson.human_attribute_name(:date_end) %></b></div>
  <div><%= @my_lesson.date_end.strftime('%d.%m.%Y') %></div>
  <div><b><%= MyLesson.human_attribute_name(:grade) %></b></div>
  <div><%= @my_lesson.grade %></div>
  <div><b><%= MyLesson.human_attribute_name(:comment) %></b></div>
  <div><%= raw(@my_lesson.comment) %></div>
  <div><b><%= MyLesson.human_attribute_name(:comment_for_student) %></b></div>
  <div><%= raw(@my_lesson.comment_for_student) %></div>
</div>
