<div class="info-block3 my-lesson-mt-show">
  <%= show_div_not_blank(Course.human_attribute_name(:name), @my_course.course.name) %>
  <%= show_div_not_blank(Lesson.human_attribute_name(:name), @my_lesson.lesson.name) %>
  <%= show_div_not_blank(MyCourse.human_attribute_name(:user_id), @my_course.user.preferred_name) %>
  <%= show_div_not_blank(User.human_attribute_name(:full_name), @my_course.user.full_name) %>
  <%= show_div_not_blank(MyLesson.human_attribute_name(:status), @my_lesson.status) %>
  <%= show_div_not_blank(MyLesson.human_attribute_name(:date_start), @my_lesson.date_start&.strftime('%d.%m.%Y')) %>
  <%= show_div_not_blank(MyLesson.human_attribute_name(:date_end), @my_lesson.date_end&.strftime('%d.%m.%Y')) %>
  <%= show_div_not_blank(MyLesson.human_attribute_name(:grade), @my_lesson.grade) %>
  <%= show_div_not_blank(MyLesson.human_attribute_name(:comment), @my_lesson.comment) %>
  <%= show_div_not_blank(MyLesson.human_attribute_name(:comment_for_student), @my_lesson.comment_for_student) %>
</div>
