<% page_title = 'Админка ментора / Просмотр курса / Просмотр урока' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title  %>
<div class="form-group">
  <%= link_to "Просмотр курса", course_path(@course), class: "btn btn-secondary" %>
  <% if current_user&.is_mentor? %>
  <%= link_to "Редактировать урок", edit_course_lesson_path(@course, @lesson), class: "btn btn-primary" %>
  <% end %>
</div>
<div class="row">
  <div class="col-lg-3">
    <%= show_div_not_blank(Lesson.human_attribute_name(:name), @lesson.name) %>
    <%= show_div_not_blank(Lesson.human_attribute_name(:comment_desc), @lesson.comment_desc) %>
  </div>
  <div class="col-lg-9">
    <% if current_user&.is_mentor? %>
    <div class="form-group">
      <%= link_to "Создать шаг", new_course_lesson_step_path(@course, @lesson), class: "btn btn-primary" %>
    </div>
    <% end %>
    <% if @steps.count > 0 %>
      <div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th><%= Step.human_attribute_name(:name) %></th>
            <th><%= Step.human_attribute_name(:step_type) %></th>
          </tr>
          </thead>
          <tbody>
          <% @steps.each do |s| %>
              <tr>
                <td><%= link_to s.name, course_lesson_step_path(@course, @lesson, s) %></td>
                <td><%= s.step_type %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= render 'all_show' %>
  </div>
</div>
