<% page_title = 'ЛК Студента / Просмотр курса' %>
<% provide :title, page_title %>
<% provide :breadcrumb, page_title  %>
<h2>Просмотр курса</h2>
<div class="form-group">
  <%= link_to "Список курсов", st_my_courses_path, class: "btn btn-secondary" %>
</div>
<div><b><%= MyCourse.human_attribute_name(:course_id) %></b></div>
<div><%= @course.course.name %></div>
<div><b><%= MyCourse.human_attribute_name(:status) %></b></div>
<div><%= @course.status %></div>
<div><b><%= MyCourse.human_attribute_name(:date_start) %></b></div>
<div><%= @course.date_start.strftime('%d.%m.%Y') %></div>
<div><b><%= MyCourse.human_attribute_name(:date_end) %></b></div>
<div><%= @course.date_end.strftime('%d.%m.%Y') %></div>
<div><b><%= MyCourse.human_attribute_name(:comment_for_student) %></b></div>
<div><%= raw(@course.comment_for_student) %></div>
<br/>
<h3>Список уроков</h3>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= Lesson.human_attribute_name(:name) %></th>
      <th><%= Lesson.human_attribute_name(:comment_desc) %></th>
      <th><%= Lesson.human_attribute_name(:created_at) %></th>
    </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= link_to 'Урок 1. Ставим Ubuntu', '#' %></td>
          <td>Установка Убунту</td>
          <td>07.11.2017</td>
        </tr>
    </tbody>
  </table>
</div>
