<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/"><%=t :nav_brand %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li id="courses" class="nav-item">
        <a class="nav-link" href="/courses"><%=t :nav_courses %></a>
      </li>
      <li id="mentors" class="nav-item">
        <a class="nav-link" href="/mentors"><%=t :nav_mentors %></a>
      </li>
      <li id="faq" class="nav-item">
        <a class="nav-link" href="/faq"><%=t :nav_faq %></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=t :nav_business %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/hiring_students"><%=t :nav_hiring_students %></a>
          <a class="dropdown-item" href="/corporate_workshop"><%=t :nav_corporate_workshop %></a>
          <a class="dropdown-item" href="/become_instructor"><%=t :nav_become_instructor %></a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%=t :nav_search %></button>
    </form>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=t :nav_lang %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <%= link_to 'EN', Rails.application.config.en_website_url, class: 'dropdown-item' %>
          <%= link_to 'RU', Rails.application.config.ru_website_url, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
  </div>
</nav>
