<% navItemDropdownClassActive = current_action?(['hiring_students', 'corporate_workshop', 'become_instructor']) ? "active" : "" %>
<% navItemDropdownClassActive2 = current_action?(['devise/sessions.new', 'devise/registrations.new']) ? "active" : "" %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/"><%= image_tag 'logo3a.png', height: '40' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <%= page_nav_item t(:nav_home), '/' %>
      <%= page_nav_item t(:nav_courses), courses_path %>
      <%= page_nav_item t(:nav_mentors), mentors_path %>
      <%= page_nav_item t(:nav_posts), posts_path %>
      <%= page_nav_item t(:nav_offer), offer_path %>
      <li class="nav-item dropdown <%=navItemDropdownClassActive%>">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=t :nav_business %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <%= page_dropdown_item t(:nav_hiring_students), hiring_students_path %>
          <%= page_dropdown_item t(:nav_corporate_workshop), corporate_workshop_path %>
          <%= page_dropdown_item t(:nav_become_instructor), become_instructor_path %>
        </div>
      </li>
      <%= page_nav_item t(:nav_contacts), contacts_path %>
      <!--<div class="dropdown-divider"></div>-->
      <li>
        <%= apply_now_button %>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item dropdown <%=navItemDropdownClassActive2%>">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=t :nav_accout %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <% if user_signed_in? %>
              <%= link_to t(:my_data), users_profile_path, class: 'dropdown-item' %>
              <%= link_to 'Выход', destroy_user_session_path, method: 'delete', class: 'dropdown-item' %>
          <% else %>
              <%= page_dropdown_item t(:nav_log_in), new_user_session_path %>
              <%= page_dropdown_item t(:nav_sign_up), new_user_registration_path %>
          <% end %>
        </div>
      </li>
      <%#= change_locale_nav_item :ru, Rails.application.config.ru_website_url %>
      <%#= change_locale_nav_item :en, Rails.application.config.en_website_url %>
    </ul>
  </div>
</nav>
