<% navItemDropdownClassActive = current_action?(['hiring_students', 'corporate_workshop', 'become_instructor']) ? "active" : "" %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/"><%= image_tag 'logo3a.png', height: '40' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <%= page_nav_item t(:nav_home), '/' %>
      <%= page_nav_item t(:nav_program), program_web_developer_path %>
      <%= page_nav_item t(:nav_mentors), mentors_path %>
      <%#= page_nav_item t(:nav_faq), faq_path %>
      <li class="nav-item dropdown <%=navItemDropdownClassActive%>">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=t :nav_business %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <%= page_dropdown_item t(:nav_hiring_students), hiring_students_path %>
          <%= page_dropdown_item t(:nav_corporate_workshop), corporate_workshop_path %>
          <%= page_dropdown_item t(:nav_become_instructor), become_instructor_path %>
        </div>
      </li>
      <%= page_nav_item t(:nav_contacts), contacts_path %>
    </ul>
    <div class="dropdown-divider"></div>
  </div>
</nav>
