<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Michael Klishevich">
    <title><%= content_for?(:title) ? yield(:title) : t(:default_title) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t(:default_title) %>">
    <% if content_for?(:keywords) %>
      <meta name="keywords" content="<%= yield(:keywords) %>">
    <% end %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/nav' %>
  <body>
    <div class="container">
      <%= render 'layouts/breadcrumb' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
      <hr>
      <footer>
        <p>© <%= t(:default_title) %> 2017-2018</p>
      </footer>
    </div>
    <%= render 'layouts/analytics_scripts' %>
  </body>
</html>
