<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Michael Klishevich">
    <title><%= content_for?(:title) ? yield(:title) : t(:default_title) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t(:default_title) %>">
    <% if content_for?(:keywords) %>
    <meta name="keywords" content="<%= yield(:keywords) %>">
    <% end %>
    <% if content_for?(:og_title) %>
    <meta property="og:title" content="<%= yield(:og_title) %>" />
    <meta property="og:description" content="<%= yield(:og_description) %>" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= yield(:og_image) %>" />
    <% end %>
    <% if content_for?(:twitter_title) %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@codingbootcamp1"/>
    <meta name="twitter:creator" content="@busation"/>
    <meta name="twitter:title" content="<%= yield(:twitter_title) %>"/>
    <meta name="twitter:description" content="<%= yield(:twitter_description) %>"/>
    <meta name="twitter:image" content="<%= yield(:twitter_image) %>"/>
    <% end %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'layouts/nav' %>
  <body>
    <div class="container">
      <%= render 'layouts/breadcrumb' %>
      <%= render 'layouts/messages' %>
      <%= yield %>
      <hr>
      <footer>
        <p>© <%= t(:default_title) %> 2017-2018</p>
      </footer>
    </div>
    <%= render 'layouts/analytics_scripts' %>
  </body>
</html>
