<h2>Регистрация</h2>
<div class="alert alert-secondary" role="alert">
  <div>После регистрации Вам будет оправлено письмо для подтверждения email. Оплата курса производится по реквизитам указанным в п. 11 на странице <%= link_to 'Оферта', offer_path + '#rekv' %>. Если у Вас возникли вопросы обращайтесь <%= codingbootcamp_email %></div>
</div>
<div class="row">
  <div class="col-lg-6">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false, hint: ("#{@minimum_password_length} символов минимум" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :full_name, required: false %>
          <%= f.input :city, required: false %>
          <%= f.input :source, collection: [['Альфа-Опыт', 'alfa'], ['Coding Bootcamp Ru', 'codingbootcamp'], ['Другое', 'other']], required: false %>
          <%= f.input :comment, required: false %>
          <%= f.hidden_field :code %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Зарегистрировать", class: 'btn btn-primary btn-lg' %>
        </div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
